body {
  margin: 0;padding: 0;
  background-color: #404ea7; color:#fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{box-sizing: border-box;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-center{
  text-align: center;
}
.container{
  width: 60%;
  margin: 10% auto;
}
.ListItems{
  background: #fff;
  color: #46529d;
}

.ListItems p{
  margin: 0;
  text-align: center;
  padding: 10px 0px;
}
.ListItems span{
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border: 0.3px solid #ccc;
}


.ListItems span.title{
background-color: #2ebaee;
color: #fff;
}
.ListItems span.name,.ListItems span.age,.ListItems span.action,
form input{
  width: 33.333333333333%;
}
form input{
  width: 33.333333333333%;
  padding: 10px 0px 10px 0px;
  background-color:#2ebaee;
  color: #fff;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:rgb(15, 15, 15);
  font-weight: bold;
}
.action.icon{
  color: red;
}